In [1]:
import pandas as pd

In [2]:
# Load the uploaded data
df = pd.read_csv("Recruitment_Data_updated.csv")

In [3]:
df.head()

   attrition  performance_rating  sales_quota_pct recruiting_source
0   0.000707            2.976686         0.604739    Applied Online
1  -0.019452            2.989157         0.396567               NaN
2  -0.009998            2.993355         0.206242    Applied Online
3  -0.003004            1.989966        -0.475037               NaN
4  -0.025405            3.016559         0.345470            Campus

In [4]:
df.columns

Index(['attrition', 'performance_rating', 'sales_quota_pct',
       'recruiting_source'],
      dtype='object')

In [5]:
avg_sales_by_source = df.groupby('recruiting_source')['sales_quota_pct'].mean()
avg_attrition_by_source = df.groupby('recruiting_source')['attrition'].mean()

In [6]:
avg_sales_by_source, avg_attrition_by_source

(recruiting_source
 Applied Online    1.080959
 Campus            1.076408
 Referral          1.075538
 Search Firm       1.103426
 Name: sales_quota_pct, dtype: float64,
 recruiting_source
 Applied Online    0.213370
 Campus            0.215109
 Referral          0.214920
 Search Firm       0.208177
 Name: attrition, dtype: float64)

In [7]:
print (avg_sales_by_source, avg_attrition_by_source)

recruiting_source
Applied Online    1.080959
Campus            1.076408
Referral          1.075538
Search Firm       1.103426
Name: sales_quota_pct, dtype: float64 recruiting_source
Applied Online    0.213370
Campus            0.215109
Referral          0.214920
Search Firm       0.208177
Name: attrition, dtype: float64

In [8]:
# Group data by 'recruiting_source' to get the average 'sales_quota_pct' and 'attrition' for each source
grouped_data = df.groupby('recruiting_source').agg(
    avg_sales_quota_pct=('sales_quota_pct', 'mean'),
    avg_attrition=('attrition', 'mean'),
    count=('recruiting_source', 'size')  # Count of records for each source
).reset_index()

# Display the grouped data for insights
grouped_data.sort_values(by=['avg_sales_quota_pct', 'avg_attrition'], ascending=[False, True])

  recruiting_source  avg_sales_quota_pct  avg_attrition  count
3       Search Firm             1.103426       0.208177   2408
0    Applied Online             1.080959       0.213370  30966
1            Campus             1.076408       0.215109  13453
2          Referral             1.075538       0.214920  10926